body {
	background: #f5f5f5;
	color: #000000;
	font-family: Monotype Corsiva;
	font-size: 16px;
	width: 99%;
}
#header {
	background: url("hat2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	text-align: center;
	height: 150px;
	width: 99%;
}
#navigation {
	background: white;
	padding: 10px;
	width: 99%;
}
.menu-btn {
	float: left;
	width: 33.33%;
	text-align: center;

	padding: 15px 0;

	background: #4CAF50;
	color: white;
	text-decoration: none;
	font-weight: bold;

	border: 2px solid #3e8e41;
	box-sizing: border-box;
}

.menu-btn:hover {
	background: #3e8e41;
}

#sidebar {
	background: #90ee90;
	color: white;
	float: left;
	text-align: center;
	height: 400px;
	width: 30%;
}

#sidebar img {
	height: 300px;
	width: 80%;
	display: block;
	margin: 0 auto;
}

#content {
	background: url("school67.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	color: white;
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 400px;
	width: 68%;
}
#clear {clear:both;}
#footer {
	background: #99CCCC;
	height: 80px;
	width: 99%;
}